################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ChipSecuritySystem/FileContentIndex
/bin/Debug/ChipSecuritySystem.exe
/bin/Debug/ChipSecuritySystem.exe.config
/bin/Debug/ChipSecuritySystem.pdb
/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/obj/Debug/ChipSecuritySystem.csproj.AssemblyReference.cache
/obj/Debug/ChipSecuritySystem.csproj.CoreCompileInputs.cache
/obj/Debug/ChipSecuritySystem.csproj.FileListAbsolute.txt
/obj/Debug/ChipSecuritySystem.csprojAssemblyReference.cache
/obj/Debug/ChipSecuritySystem.exe
/obj/Debug/ChipSecuritySystem.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
